.card {
	--card-max-width: 300px;
	--card-row-length: 2;
	--card-width: calc(
		((100% - 0.5rem * 2) - (1rem * (var(--card-row-length)) - 0.6%)) /
			var(--card-row-length)
	);

	max-width: var(--card-max-width);
	width: var(--card-width);
	margin: 1rem 0.5rem;
	border-radius: 0.75rem;
	overflow: hidden;

	@media screen and (width >= 768px) {
		--card-row-length: 3;
	}

	@media screen and (width >= 996px) {
		--card-row-length: 4;
	}

	@media screen and (width >= 1024px) {
		--card-row-length: 5;
	}

	@media screen and (width >= 1240px) {
		--card-row-length: 6;
	}

	@media screen and (width >= 1536px) {
		--card-row-length: 7;
	}

	@media screen and (width >= 1980px) {
		--card-row-length: 8;
	}

	@media screen and (width >= 2240px) {
		--card-row-length: 9;
	}

	@media screen and (width >= 2560px) {
		--card-row-length: 10;
	}
}

.displayImage {
	width: 100%;
	aspect-ratio: 9 / 16;
	border-radius: 0.75rem;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		background: transparent;
		object-fit: contain;
	}
}

.content {
	margin-top: 0.5rem;
}

.info {
	overflow-x: hidden;
}

.title {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 500;
	overflow: hidden;
	max-height: 3.5rem;
	-webkit-line-clamp: 2;
	display: box;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	white-space: normal;
}

.description {
	color: var(--description-clr);
	display: flex;
	align-items: center;
	gap: 0.25rem;
	margin-bottom: 0.25rem;
}
