* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@apply var(--text-clr) var(--bg-clr)
	margin: 0;

	padding: 0;
	height: 100vh;
}

main {
	padding-top: 4rem;
	padding-left: 15em;
	min-height: 100%;
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
