:root {
	// Colors
	--light: #f6f6f6;
	--dark: #131313;
	--content-bg: #1a1a1a;
	--border-clr: #8b8b8b;
	--muted-border-clr: #3d3d3d;
	--text-clr: var(--light);
	--bg-clr: var(--dark);
	--hover-bg: #2b2b2b;
	--muted-clr: #8b8b8b;
	--description-clr: #9b9b9b;

	color-scheme: dark;
}
